.class {
	.head {
		.register {
			position: relative;
			width: 100%;
			text-align: right;
			top: 0;
			right: 0;
		}
	}
}

.class-item-cover {
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	background-position: center;
	.class-item-cover-tool {
		position: absolute;
		top: 12px;
		right: 12px;
		color: @common_color;
		// color: rgba(255, 255, 255, 0.7);
		a {
			position: relative;
			display: inline-block;
			width: 41px;
			height: 41px;
			padding-top: 2px;
			border: 1px solid @common_color;
			// border: 1px solid rgba(255, 255, 255, 0.7);
			.rounded-corners(21px);
			.transition_all();
			i {
				position: absolute;
				top: 3px;
				left: -3px;
				font-size: 32px;
				line-height: 1em;
				width: 40px;
			}
			&:hover {
				color: @common_color;
				// color: rgba(255, 255, 255, 1);
			}
		}
	}
	.class-item-cover-contents {
		padding-top: 120px;
		padding-bottom: 65px;
		text-align: left;
		color: @common_color;
		.class-item-title {
			letter-spacing: -0.04em;
			font-size: 40px;
			line-height: 1.4em;
		}
		.class-item-subtitle {
			color: @common_color;
			font-size: 24px;
			line-height: 1.3em;
		}
		.class-item-author {
			padding-top: 14px;
			display: inline-block;
			img {
				display: inline-block;
				height: 36px;
				width: 36px;
				.rounded-corners(18px);
			}
			span {
				display: inline-block;
				vertical-align: top;
				font-size: 15px;
				line-height: 1em;
				padding-top: 8px;
				color: @common_color;
			}
		}
		.class-item-register {
			position: relative;
			width: 100%;
			text-align: right;
			top: 0;
			right: 0;
		}
	}
}

.class-item-contents {
	padding: 90px 0;
	line-height: 2em;
	font-size: 20px;
	h2, h3, h4 {
		padding: 0;
		margin: 0 0 20px 0;
		line-height: 1;
	}
	.video {
		img {
			width: 100%;
		}
	}
	.video, p, blockquote {
		margin-bottom: 64px;
		font-family: 'Nanum Myeongjo', serif;
	}
}

.class-item-widget {
	margin-bottom: 82px;
	.class-item-widget-counter {
		display: inline-block;
		margin-left: 12px;
		a {
			display: inline-block;
			min-width: 120px;
			margin-right: 12px;
		}
		i {
			cursor: pointer;
			display: inline-block;
			font-size: 20px;
			width: 40px;
			height: 40px;
			text-align: center;
			padding: 9px 0 0 0;
			line-height: 0;
			.rounded-corners(20px);
			border: 1px solid #424242;
			color: #424242;
		}
		span {
			display: inline-block;
		}
	}
	.class-item-widget-share {
		display: inline-block;
		float: right;
		margin-right: 12px;
		ul {
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				font-size: 32px;
				color: #808285;
				margin-left: 4px;
				cursor: pointer;
			}
		}
	}
}


.class-item-cover {
	width: 100%;
	text-align: center;
	background-position: center;
	.class-item-cover-tool {
		position: absolute;
		top: 12px;
		right: 12px;
		color: @common_color;
		// color: rgba(255, 255, 255, 0.7);
		a {
			position: relative;
			display: inline-block;
			width: 41px;
			height: 41px;
			padding-top: 2px;
			border: 1px solid @common_color;
			// border: 1px solid rgba(255, 255, 255, 0.7);
			.rounded-corners(21px);
			.transition_all();
			i {
				position: absolute;
				top: 3px;
				left: -3px;
				font-size: 32px;
				line-height: 1em;
				width: 40px;
			}
			&:hover {
				color: @common_color;
				// color: rgba(255, 255, 255, 1);
			}
		}
	}
	.class-item-cover-contents {
		padding-top: 120px;
		padding-bottom: 65px;
		text-align: left;
		color: @common_color;
		.class-item-title {
			letter-spacing: -0.04em;
			font-size: 40px;
			line-height: 1.4em;
		}
		.class-item-subtitle {
			color: @common_color;
			font-size: 24px;
			line-height: 1.3em;
		}
		.class-item-author {
			padding-top: 14px;
			display: inline-block;
			img {
				display: inline-block;
				height: 36px;
				width: 36px;
				.rounded-corners(18px);
			}
			span {
				display: inline-block;
				vertical-align: top;
				font-size: 15px;
				line-height: 1em;
				padding-top: 8px;
				color: @common_color;
			}
		}
		.class-item-register {
			position: relative;
			width: 100%;
			text-align: right;
			top: 0;
			right: 0;
		}
	}
}