
.user-item-cover {
	position: relative;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
	.user-item-cover-contents {
		color: white;
		font-family: 'Nanum Gothic', sans-serif;
		.avatar {
			margin-top: 120px;
			display: inline-block;
			overflow: hidden;
			border: 4px solid #fff;
			border: 4px solid rgba(255, 255, 255, 0.7);
			.rounded-corners(120px);
			@media (min-width: @screen_small) {
				width: @container_small / 4;
				height: @container_small / 4;
			}
			@media (min-width: @screen_big) {
				width: @container_big / 4;
				height: @container_big / 4;
			}
			.avatar-image {
				@media (min-width: @screen_small) {
					width: @container_small / 4;
				}
				@media (min-width: @screen_big) {
					width: @container_big / 4;
				}
			}
		}
		.name {
			margin-top: 12px;
			letter-spacing: -0.04em;
			font-size: 40px;
			line-height: 1.4em;
		}
		.description {
			display: block;
			margin: 12px 0 64px 0;
			color: rgba(255, 255, 255, 0.7);
			font-size: 20px;
			line-height: 1.3em;
		}
	}
}

.user-item-contents {
	
	h4 {
		margin: 6px 0 24px 0;
		color: #a7a9ac;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 1px;
	}
	.user-item-contents-class, .user-item-contents-video {
		margin-bottom: 60px;
	}
	ul {
		margin-left: -@grid-gutter-width;
		li {
			display: inline-block;
			margin-left: @grid-gutter-width;
			margin-bottom: @grid-gutter-width;
			font-size: 14px;
			@media (min-width: @screen_small) {
				width: 305px;
			}
			@media (min-width: @screen_big) {
				width: 267px;
			}
			img {
				display: block;
				@media (min-width: @screen_small) {
					width: 305px;
				}
				@media (min-width: @screen_big) {
					width: 267px;
				}
			}
			.title {
				display: block;
				font-weight: bold;
				margin-top: 6px;
				line-height: 1.5em;
			}
			.subtitle {
				margin-top: 4px;
				line-height: 1.5em;
			}
			.date {
				margin-top: 4px;
				font-size: 13px;
				color: #98999b;
			}
		}
	}
}
