
.video-item-cover {
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	background-position: center;
	.video-item-cover-clip {
		position: absolute;
		top: 0;
		right: 0;
	}
	.video-item-cover-contents {
		padding-top: 330px;
		padding-bottom: 65px;
		text-align: left;
		color: #fff;
		.video-item-title {
			font-size: 40px;
			letter-spacing: -0.04em;
			font-size: 50px;
			line-height: 1.1;
		}
		.video-item-subtitle {
			color: rgba(255, 255, 255, 0.7);
			font-size: 24px;
			line-height: 1;
		}
		.video-item-author {
			img {
				height: 36px;
				width: 36px;
				-webkit-border-radius: 18px;
				-moz-border-radius: 18px;
				-ms-border-radius: 18px;
				-o-border-radius: 18px;
				border-radius: 18px;
			}
			span {
				font-size: 15px;
				color: rgba(255, 255, 255, 0.7);
			}
		}
	}
}

.video-item-contents {
	padding: 50px 0;
	line-height: 2em;
	font-size: 20px;
	h2, h3, h4 {
		padding: 0;
		margin: 0 0 20px 0;
		line-height: 1;
	}
	.video, p, blockquote {
		margin-bottom: 64px;
		font-family: serif;
	}
}
