.video-item-cover {
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	background-position: center;
	.video-item-cover-tool {
		z-index: 1000;
		position: absolute;
		top: 12px;
		right: 12px;
		color: #fff;
		color: rgba(255, 255, 255, 0.7);
		a {
			position: relative;
			display: inline-block;
			width: 41px;
			height: 41px;
			padding-top: 2px;
			border: 1px solid #fff;
			border: 1px solid rgba(255, 255, 255, 0.7);
			.rounded-corners(21px);
			.transition_all();
			i {
				position: absolute;
				top: 3px;
				left: -3px;
				font-size: 32px;
				line-height: 1em;
				width: 40px;
			}
			&:hover {
				color: #fff;
				color: rgba(255, 255, 255, 1);
			}
		}
	}
	.video-item-cover-contents {
		padding-top: 320px;
		padding-bottom: 65px;
		text-align: left;
		color: #fff;
		font-family: 'Nanum Gothic', sans-serif;
		.video-item-title {
			letter-spacing: -0.04em;
			font-size: 40px;
			line-height: 1.4em;
		}
		.video-item-subtitle {
			color: rgba(255, 255, 255, 0.7);
			font-size: 24px;
			line-height: 1.3em;
		}
		.video-item-author {
			padding-top: 14px;
			display: inline-block;
			img {
				display: inline-block;
				height: 36px;
				width: 36px;
				.rounded-corners(18px);
			}
			span {
				display: inline-block;
				vertical-align: top;
				font-size: 15px;
				line-height: 1em;
				padding-top: 8px;
				color: rgba(255, 255, 255, 0.7);
			}
		}
	}
}

.video-item-contents {
	padding: 50px 0 12px 0;
	line-height: 2em;
	font-size: 20px;
	h2, h3, h4 {
		padding: 0;
		margin: 0 0 20px 0;
		line-height: 1;
	}
	.video {
		img {
			width: 100%;
		}
	}
	.video, p, blockquote {
		margin-bottom: 64px;
		font-family: 'Nanum Myeongjo', serif;
	}
}

.video-item-entry {
	margin-bottom: 82px;
	h4 {
		margin: 6px 0 24px 0;
		color: #a7a9ac;
		font-size: 16px;
		font-weight: bold;
		letter-spacing: 1px;
	}
	.col {
		margin-bottom: 12px;
	}
	.video-item-entry-user {
		min-width: 300px;
		margin-bottom: 16px;
		img {
			width: 90px;
			height: 90px;
			.rounded-corners(45px);
			margin-right: 8px;
		}
		span {
			vertical-align: top;
			display: inline-block;
		}
		.name {
			color: #4d4d4f;
			font-size: 20px;
			padding: 0;
			margin: 0;
			font-weight: bold;
		}
		.description {
			color: #939598;
			font-size: 15px;
			padding: 4px 0 0 4px;
			margin: 0;
			min-width: 192px;
			@media (min-width: @screen_small) {
				width: @container_small / 2 - @grid-gutter-width - 110;
			}
			@media (min-width: @screen_big) {
				width: @container_big / 2 - @grid-gutter-width - 110;
			}
		}
	}
}

.video-item-widget {
	margin-bottom: 82px;
	.video-item-widget-counter {
		display: inline-block;
		margin-left: 12px;
		a {
			display: inline-block;
			min-width: 120px;
			margin-right: 12px;   
		}
		i {
			cursor: pointer;
			display: inline-block;
			font-size: 20px;
			width: 40px;
			height: 40px;
			text-align: center;
			padding: 9px 0 0 0;
			line-height: 0;
			.rounded-corners(20px);
			border: 1px solid #424242;
			color: #424242;
		}
		span {
			display: inline-block;
		}
	}
	.video-item-widget-share {
		display: inline-block;
		float: right;
		margin-right: 12px;
		ul {
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				font-size: 32px;
				color: #808285;
				margin-left: 4px;
				cursor: pointer;
			}
		}
	}
}



.video-itemEdit-tool {
	z-index: 1000;
	position: fixed;
	top: 12px;
	right: 12px;
	color: #fff;
	color: rgba(0, 0, 0, 0.5);
	a {
		position: relative;
		display: inline-block;
		width: 47px;
		height: 47px;
		padding-top: 2px;
		margin-left: 12px;
		border: 1px solid #fff;
		border: 1px solid rgba(0, 0, 0, 0.5);
		.rounded-corners(24px);
		.transition_all();
		i {
			position: absolute;
			top: 5px;
			left: 0px;
			font-size: 32px;
			line-height: 1em;
			width: 40px;
		}
		&:hover {
			color: #fff;
			color: rgba(0, 0, 0, 1);
		}
	}
}

.video-itemEdit-input {
	margin-bottom: 82px;
	font-size: 20px;
	line-height: 2em;
	padding-top: 100px;
	padding-bottom: 65px;
	.coverImage {
		min-height: 60px;
		position: relative;
		cursor: pointer;
		i {
			position: absolute;
			top: 0;
			left: -10px;
			font-size: 52px;
			color: rgba(88, 89, 91, 0.7);
			.transition_all();
			&:hover {
				color: rgba(88, 89, 91, 1);
			}
		}
	}
	.input {
		min-height: 52px;
	}
	.title {
		letter-spacing: -0.04em;
		font-size: 40px;
		line-height: 1.5em;
		margin-bottom: 4px;
		&:after {
			font-weight: bold;
		}
	}
	.subtitle {
		color: rgba(88, 89, 91, 0.7);
		font-size: 24px;
		line-height: 1.5em;
		margin-bottom: 24px;
	}
}