<div class="container">
	<div class="class-itemEdit-tool">
		<a class="class-itemEdit-tool-done" href="/class/2">
				<i class="icon-ok"></i>
		</a>
		<a class="class-itemEdit-tool-cancel" href="/class/2">
				<i class="icon-cancel"></i>
		</a>
		<a class="class-itemEdit-tool-delete" href="/">
				<i class="icon-trash"></i>
		</a>
	</div>
	<div class="class-itemEdit-input">
		<div class="coverImage">
			<i class="icon-picture"></i>
		</div>
		<div class="input title" data-placeholder="Title"></div>
		<div class="input subtitle" data-placeholder="Subtitle"></div>
		<div class="input contents" data-placeholder="Type About This class"></div>
	</div>
</div>
