<div class="container">
	<a class="logo" href="/">
		<!-- Grafts -->
		{{!-- <img src="/images/logo.png" alt="logo"> --}}
		<i class="icon-logo_original"></i>
	</a>

	<ul class="menu">
		<li>
			<i class="icon-search"></i>
			<form name="search" action="/search" method="GET">
				<input type="text" placeholder="Search"/ name="q">
			</form>
		</li>
		<li>
			<a href="/discoveries">
				<i class="icon-youtube-play"></i>
				<span>Discoveries</span>
			</a>
		</li>

		{{#if user}}
			<li>
				<a href="/user/{{#if user}}{{user.objectId}}{{else}}1{{/if}}">
					<i class="icon-home"></i>
					<span>{{user.username}}</span>
				</a>
			</li>
	 		<li>
				<a href="/" class="create" data-attr="class">
					<i class="icon-plus-circle"></i>
					<span>New Class</span>
				</a>
			</li>
			<li>
				<a href="/" class="create" data-attr="video">
					<i class="icon-plus-circle"></i>
					<span>New Video</span>
				</a>
			</li>

				<li>
				<a href="/class/1">
					<i class="icon-pencil"></i>
					<span>My Classes</span>
				</a>
			</li>
				<li>
				<a href="/lesson/1">
					<i class="icon-check"></i>
					<span>Registered Lessons</span>
				</a>
			</li>

				<li>
				<a href="/video/1">
					<i class="icon-video-camera"></i>
					<span>My Videos</span>
				</a>
			</li>
			<li>
				<a href="/" class="logout">
					<i class="icon-power-off"></i>
					<span>Logout</span>
				</a>
			</li>
		{{else}}
			<li>
				<a href="/user/1">
					<i class="icon-home"></i>
					<span>아만다 사이프리드</span>
				</a>
			</li>
			<li>
				<a href="/" class="signin">
					<i class="icon-power-off"></i>
					<span>Signin</span>
				</a>
			</li>
		{{/if}}
	</ul>
</div>