<div class="cover"></div>

<div class="container">

	<div class="class-summary">
		<div class="contents">
			<div class="container">

				<a class="author" href="/user/112">
					<img class="avatar" src="/images/avatar_big2.jpg" alt="avatar">
					<h4>TUTOR</h4>
					<h1 class="name">스칼렛 요한슨</h1>
				</a>

				<div class="divder"></div>

				<a class="head-contents sans-serif" href="/class/1">
					<h4>CLASS</h4>
					<h1 class="title">플레티넘 스칼렛에게 배우는 탑젝스 원포인트 레슨</h1>
					<p class="subtitle serif">타이밍을 잘 못잡는 분들에게 유익한 레슨. 분명 도움이 될거라 믿어요. 시간조율 가능</p>					
				</a>

			</div>
		</div>
	</div>

	<div class="lesson-contents">
		<h1>Grafts/Payment</h1>
		<div class="datas">
			<table class="item">
				<tr>
					<td class="title" colspan="2">Tutoring Infomation</td>
				</tr>
				<tr>
					<td class="name">Tutoring No.</td>
					<td>#20140125-00001</td>
				</tr>
				<tr>
					<td class="name">Tutee</td>
					<td>스칼렛 요한슨</td>
				</tr>
				<tr>
					<td class="name">Tutoring Date</td>
					<td>2014-01-25 / 14:00 - 16:00</td>
				</tr>
			</table>

			<table class="item">
				<tr>
					<td class="title" colspan="2">Payment Infomation</td>
				</tr>
				<tr>
					<td class="name">Price</td>
					<td>$29.99 USD</td>
				</tr>
				<tr>
					<td class="name">Card No.</td>
					<td>VISA 4111-1111-1111-1111</td>
				</tr>
				<tr>
					<td class="name">Valid Thru</td>
					<td>July 8 2014</td>
				</tr>
			</table>

			<table class="item">
				<tr>
					<td class="title" colspan="2">Tutoring Process</td>
				</tr>
				<tr>
					<td class="name">Process</td>
					<td>Tutoring Scheduled</td>
				</tr>
			</table>
		</div>

		<div class="agreement">
			<form action="/lesson/1" method="GET">
				<div class="read-this">Please read and accept our <a href="/">terms of lesson</a></div>
				<div class="input">
					<input type="checkbox">
					<label>I accept and agree</label>
				</div>
				<input type="submit" value="COMPLATE TUTORING" class="button">
			</form>
		</div>

	</div>

</div>
