<div class="container">

	<div class="class-summary">
		<div class="cover" style="background-image: url(/images/cover_background.png);"></div>

		<div class="contents">
			<div class="container">
				<div class="head-contents sans-serif">
					<h1 class="title">리신공략, 각 라인별 일반적인 갱킹방법</h1>
					<p class="subtitle">갱킹이 리신이며 리신이 갱킹이다!</p>
					<a class="author" href="/user/112">
						<img class="avatar" src="/images/avatar.jpg" alt="avatar">
						<span class="name">아만다 사이프리드</span>
					</a>
				</div>
				<div class="script serif">
					<p>Some of the teams I have been in are Reason Gaming, Millenium and MouseSports.<br>It was with discipline, hard training and personal analysis of game mechanics that I was able to achieve my goals.<br>And today it is with great joy and excitement that I can offer to teach you these same methods that turned me into a Pro.<br>Each lesson is personalized to a students needs and wishes.<br>Here are some examples of the knowledge I can offer you in my lessons:<br>-Champion Analyses: Its Role, Skill mechanics, Synergyes, counter picks and tricks;<br>-Micro: Positioning, farming, skill timing and cooldown control;<br>-Macro: Timer control, mini map control and vision, analyses and comprehension of key points on the map, game phases, etc...<br>-Optimization: Runes, masteries, items and skins;<br>-Pro Gamer Psychology;<br>-Premade Coaching;<br>-Team Coaching;<br>-Team Leadership;<br>-E-sports career management. (How to get into a Pro Team, sponsorships, livestreaming, contracts, etc...)<br>-And many many more.<br>Here is my ESL page if you want a full list of my achievements and e-sports career:<br>http://www.esl.eu/fr/player/4965697/<br>Contact me if you wish to improve or have further questions.<br>Hope to see you soon.<br>GL &amp; HF ;).</p>
				</div>
				<div class="price">$4.99</div>

			</div>
		</div>
	</div>

	<div class="lesson-contents">
		<ul>
			<li class="item">
				<hr/>
				<h4>TUTEE</h4>
				<a class="author" href="/user/112">
					<img class="avatar" src="/images/avatar_big.jpg" alt="avatar">
					<span class="name">아만다 사이프리드</span>
				</a>
			</li>
			<li class="item">
				<hr/>
				<h4>PAYMENT</h4>
				<div>Credit Card</div>
				<div>$4.99</div>
				<div>VISA 4111-1111-1111-1111</div>
				<div>July 8 2014</div>
			</li>
			<li class="item">
				<hr/>
				<h4>PROCESS</h4>
				<div class="process">
					<ul>
						<li>PAY</li>
						<li class="ing">LESSONING</li>
						<li>DONE</li>
					</ul>
					<a class="button">Lesson Complate</a>
				</div>
			</li>
		</ul>
	</div>

</div>
