<div class="cover" style="background-image: url(/images/cover_background.png);"></div>

<div class="contents">
	<div class="tool">
		<a class="tool-edit" href="/video/2/update">
			<i class="icon-cog"></i>
		</a>
	</div>
	
	<div class="container">
		
		<div class="head-contents sans-serif">
			<h1 class="title">리신공략, 각 라인별 일반적인 갱킹방법</h1>
			<p class="subtitle">갱킹이 리신이며 리신이 갱킹이다!</p>
			<a class="author" href="/user/112">
				<img class="avatar" src="/images/avatar.jpg" alt="avatar">
				<span class="name">아만다 사이프리드</span>
			</a>
		</div>

		<div class="player">
			{{!-- <img src="/images/dummy_video.png" alt=""> --}}
			<iframe src="//www.youtube.com/embed/48auKg6es8E?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>

		<div class="timeline">
			<ul>
				<li class="item">
					<div class="clock">14:11</div>
					<a class="anker"></a>
					<div class="script serif">
						<h3>룬 설정 방법</h3>
						<p>게임이 중반쯤되고 미드 라이너도 와드를 박고 탑라이너도 올라오는 부시에 와드를 박으면 갱킹이 어려워집니다. 이럴때 시도해 볼만한 갱킹은 바론뒤쪽에 와드를 박은후 를 타고 들어가 삼거리를 통해 가는 것입니다. 물론 미드라인쪽으로 올라가도 돼지만 상대 미드라이너가 와드를 박았을 경우 센스있는 정글러에게 역갱을 당할 수 있습니다. 게임이 중반쯤되고 미드 라이너도 와드를 박고 탑라이너도 올라오는 부시에 와드를 박으면 갱킹이 어려워집니다.</p>
						<blockquote>이럴때 시도해 볼만한 갱킹은 바론뒤쪽에 와드를 박은후 를 타고 들어가 삼거리를 통해 가는 것입니다. 물론 미드라인쪽으로 올라가도 돼지만 상대 미드라이너가 와드를 박았을 경우 센스있는 정글러에게 역갱을 당할 수 있습니다.</blockquote>
						<p>일반적으로 퍼플 진영 탑라이너들은 대부분 바론에서 올라오는 쪽에만 하나박고 삼거리쪽엔 박지 않습니다. 아깝거든요!! 이것을 노려서 바론뒤로 올라가는 갱킹이 의외로 성공률이 높습니다. 미드도 와드가 박혔고 탑골목도 와드박혔기때문에 약간은 방심하며 공격적으로 딜교환을 하게 되는 것이죠.</p>
					</div>
					<a class="comments-link">11</a>
					<div class="comments">
						<hr/>
						<ul>
							<li class="comment">
								<a class="author" href="/user/112">
									<img class="avatar" src="/images/avatar.jpg" alt="avatar">
									<span class="name">아만다 사이프리드</span>
								</a>
								<p class="note">Words of wisdom indeed. But i do enjoy my midnight break and stroll to the 7-11!</p>
							</li>
						</ul>
						<a class="reply button">
							<i class="icon-plus"></i>
							<span>Reply</span>
						</a>
						<div class="reply-form">
							<a class="author">
								<img class="avatar" src="/images/avatar.jpg" alt="avatar">
								<span class="name">아만다 사이프리드</span>
							</a>
							<div class="input" data-placeholder="Leave a comment"></div>
							<a class="button save">Save</a>
							<a class="button cancel">Cancel</a>
						</div>
					</div>
				</li>

				<li class="item">
					<div class="clock">14:11</div>
					<a class="anker"></a>
					<div class="script serif">
						<h3>룬 설정 방법</h3>
						<p>게임이 중반쯤되고 미드 라이너도 와드를 박고 탑라이너도 올라오는 부시에 와드를 박으면 갱킹이 어려워집니다. 이럴때 시도해 볼만한 갱킹은 바론뒤쪽에 와드를 박은후 를 타고 들어가 삼거리를 통해 가는 것입니다. 물론 미드라인쪽으로 올라가도 돼지만 상대 미드라이너가 와드를 박았을 경우 센스있는 정글러에게 역갱을 당할 수 있습니다. 게임이 중반쯤되고 미드 라이너도 와드를 박고 탑라이너도 올라오는 부시에 와드를 박으면 갱킹이 어려워집니다.</p>
						<blockquote>이럴때 시도해 볼만한 갱킹은 바론뒤쪽에 와드를 박은후 를 타고 들어가 삼거리를 통해 가는 것입니다. 물론 미드라인쪽으로 올라가도 돼지만 상대 미드라이너가 와드를 박았을 경우 센스있는 정글러에게 역갱을 당할 수 있습니다.</blockquote>
						<p>일반적으로 퍼플 진영 탑라이너들은 대부분 바론에서 올라오는 쪽에만 하나박고 삼거리쪽엔 박지 않습니다. 아깝거든요!! 이것을 노려서 바론뒤로 올라가는 갱킹이 의외로 성공률이 높습니다. 미드도 와드가 박혔고 탑골목도 와드박혔기때문에 약간은 방심하며 공격적으로 딜교환을 하게 되는 것이죠.</p>
					</div>
					<a class="comments-link">11</a>
					<div class="comments">
						<hr/>
						<ul>
							<li class="comment">
								<a class="author" href="/user/112">
									<img class="avatar" src="/images/avatar.jpg" alt="avatar">
									<span class="name">아만다 사이프리드</span>
								</a>
								<p class="note">Words of wisdom indeed. But i do enjoy my midnight break and stroll to the 7-11!</p>
							</li>
						</ul>
						<a class="reply button">
							<i class="icon-plus"></i>
							<span>Reply</span>
						</a>
						<div class="reply-form">
							<a class="author">
								<img class="avatar" src="/images/avatar.jpg" alt="avatar">
								<span class="name">아만다 사이프리드</span>
							</a>
							<div class="input" data-placeholder="Leave a comment"></div>
							<a class="button save">Save</a>
							<a class="button cancel">Cancel</a>
						</div>
					</div>
				</li>
			</ul>
		</div>

	</div>
</div>