{{#each this.videos}}
<ul>
	<li>
		<a href="/video/{{this.objectId}}">
			<div class="thumb">
				<img class="thumb" src="http://img.youtube.com/vi/{{this.objectId}}/1.jpg" alt="class_cover">
			</div>
			<span>
				<p class="title">{{this.title}}</p>
				<p class="subtitle">{{this.subtitle}}</p>
			</span>
		</a>
	</li>
</ul>
{{/each}}