<div class="head">
	<div class="tool">
		<a class="tool-edit" href="/user/{{id}}/update">
			<i class="icon-cog"></i>
		</a>
	</div>

	<div class="headline sans-serif">
		<div class="container">
			<div class="avatar">
				<img class="avatar-image" src="{{image.big.src}}" alt="avatar">
			</div>
			<h1 class="name">{{name}}</h1>
			<span class="description">{{description}}</span>
		</div>
	</div>
</div>

<div class="contents">
	<div class="container">

		<div class="contents-class">
			<hr/>
			<h4>Class</h4>
			<ul>
				<li>
					<a href="/class/1">
						<img class="thumb" src="/images/class_cover.jpg" alt="class_cover">
						<span>
							<span class="title">아만다 사이프리드</span>
							<p class="subtitle">펜실베니아 갱킹의 제왕<br/>리신 정글 하드캐리합니다</p>
						</span>
					</a>
					<div class="date">6 days ago </div>
				</li>
				<li>
					<a href="/class/1">
						<img class="thumb" src="/images/class_cover.jpg" alt="class_cover">
						<span>
							<span class="title">아만다 사이프리드</span>
							<p class="subtitle">펜실베니아 갱킹의 제왕<br/>리신 정글 하드캐리합니다</p>
						</span>
					</a>
					<div class="date">6 days ago </div>
				</li>
				<li>
					<a href="/class/1">
						<img class="thumb" src="/images/class_cover.jpg" alt="class_cover">
						<span>
							<span class="title">아만다 사이프리드</span>
							<p class="subtitle">펜실베니아 갱킹의 제왕<br/>리신 정글 하드캐리합니다</p>
						</span>
					</a>
					<div class="date">6 days ago </div>
				</li>
			</ul>
		</div>

		<div class="contents-video">
			<hr/>
			<h4>Video</h4>
			<ul>
				<li>
					<a href="/video/1">
						<img class="thumb" src="/images/video_cover.jpg" alt="class_cover">
						<span>
							<span class="title">아만다 사이프리드</span>
							<p class="subtitle">펜실베니아 갱킹의 제왕<br/>리신 정글 하드캐리합니다</p>
						</span>
					</a>
					<div class="date">6 days ago </div>
				</li>
				<li>
					<a href="/video/1">
						<img class="thumb" src="/images/video_cover.jpg" alt="class_cover">
						<span>
							<span class="title">아만다 사이프리드</span>
							<p class="subtitle">펜실베니아 갱킹의 제왕<br/>리신 정글 하드캐리합니다</p>
						</span>
					</a>
					<div class="date">6 days ago </div>
				</li>
				<li>
					<a href="/video/1">
						<img class="thumb" src="/images/video_cover.jpg" alt="class_cover">
						<span>
							<span class="title">아만다 사이프리드</span>
							<p class="subtitle">펜실베니아 갱킹의 제왕<br/>리신 정글 하드캐리합니다</p>
						</span>
					</a>
					<div class="date">6 days ago </div>
				</li>
				<li>
					<a href="/video/1">
						<img class="thumb" src="/images/video_cover.jpg" alt="class_cover">
						<span>
							<span class="title">아만다 사이프리드</span>
							<p class="subtitle">펜실베니아 갱킹의 제왕<br/>리신 정글 하드캐리합니다</p>
						</span>
					</a>
					<div class="date">6 days ago </div>
				</li>


			</ul>
		</div>
		
	</div>
</div>