<div class="track">
	<div class="progress">
		<div class="edit-tool" data-edit="script">
			<button class="edit-tool-create">
				<i class="icon-plus-circle"></i>
			</button>
		</div>
	</div>
</div>
<ul class="pointers"></ul>
