<div class="container">
	<div class="video-itemEdit-tool">
			<a class="video-itemEdit-tool-done" href="/video/2">
					<i class="icon-ok"></i>
			</a>
			<a class="video-itemEdit-tool-cancel" href="/video/2">
					<i class="icon-cancel"></i>
			</a>
			<a class="video-itemEdit-tool-delete" href="/">
					<i class="icon-trash"></i>
			</a>
	</div>
	<div class="video-itemEdit-input">
		<div class="coverImage">
			<i class="icon-picture"></i>
		</div>
		<div class="input title" data-placeholder="Title"></div>
		<div class="input subtitle" data-placeholder="Subtitle"></div>
		<div class="input contents" data-placeholder="Type About This Video"></div>
	</div>
</div>
